body {
    background-color: lightgray
}

#calculator {
    height: 560px;
    width: 350px;
    margin: 50px auto;
    background-color: blue;
}

span {
    height: 75px;
    width: 75px;
    display: block;
    line-height: 75px;
    float: left;
    border: 3px solid black;
    background-color: white;
    text-align: center;
    margin: 0 auto;
    border-radius: 10px;
}

#keys {
    padding: 10px;
    text-align: center;
    margin-left: 3px;
}

#readout {
    height: 115px;
    width: 350px;
    background-color: aliceblue;

}

.round-edges {
    border-radius: 11px;
}
